extends ../common/layout
block content
    //avatar,information show and change----------------------------------------------------------
    div(style="display:flex;position:relative;margin-bottom: 44px;")
        div(style="flex-grow:1;margin-right: 30px;flex-basis:0;text-align: center;")
            img(src= user.avatar ? user.avatar:'/image/avatarAuto.jpg',
                style='height:150px;width:150px;border-radius:50%;')
        form(action='/user/postAvatar', method='post', enctype='multipart/form-data',
            style="display:none;")
          input(type='file', name='avatar' required)
          button(type='submit') Update
        //show infor------------------------------
        div(style="flex-basis:0;flex-grow:2;")
            span(style="font-size: 21px;")= user.username
            a#changeInfor(
                style="border: 1px solid darkgray;margin: 0 12px;padding: 5px 10px;") 
                Change Information
            h5= user.image.length+" ảnh "
            h5(
                style="font-size: 17px;font-weight: 600;")= user.first_name+" "+user.last_name
    //upload image-------------------------------------------------------------------------------
    form(action='/user/postImage', method='post', enctype='multipart/form-data'
                ,id="formPostImage",style="display:flex;")
        label(style="width:100px;background:pink;cursor:pointer;margin: 0;text-align:center;",id="andNewImg")
            label(for='image',class="fa fa-plus",style="font-size:36px;margin: 0;padding-top: 33%;")
            input#image(type='file', name='image', size=60, required)
        textarea(type='text' placeholder='write something...' name="description",rows="4",cols="50")
        button(type='submit') Post Image
            
    //show image----------------------------------------------------------------------------------------
    .row(style="margin:0!important;")
        each img in user.image
            .col-4(style="padding:0.5vh!important;")
                div.imageShow(style="width:100%;position:relative;padding-top:100%;")
                    div(style="position:absolute;top:0;right:0;bottom:0;left:0;")
                        img(style="width: 100%;height: 100%;",src= img.url)
                    div(style="position:absolute;top:0;right:0;bottom:0;left:0;opacity:0;text-align:center;")
                        a(href="#")
                            i(class="fa fa-heart" style="font-size:36px;color:white;margin-top:50%;transform:translateY(-50%);margin-right:1rem;")
                        a(href="#")
                            i(class="fa fa-comment" style="font-size:36px;color:white;margin-top:50%;transform:translateY(-50%);margin-right:1rem;")
                        a(href="/user/deleteImg/"+img._id)
                            i(class="fa fa-close" style="font-size:36px;color:white;margin-top:50%;transform:translateY(-50%);")
    //form change infor----------------------------------------------------------------------------------
    #register
      #register-close(title='close')
        div
        div
      br
      form(style='width:500px;height:75vh;', action='/user', method='post')
        .row
          input.form-control(type='text', placeholder='First name', required='', 
            name='firstname',value=user.first_name)
        br
        .row
          input.form-control(type='text', placeholder='Last name', required='', 
            name='lastname',value=user.last_name)
        br
        .row
          input.form-control(type='text', placeholder='Email', required='', 
            name='email',value=user.email)
        br
        .row
          .col-4.p-0
            select#inputState.form-control(required='', name='gender') 
              option(selected='')= user.gender
              option Nữ
              option Nam
          .col-8.p-0
            input.form-control(type='text', placeholder='Phone', required='', 
                name='phone',value=user.phone)
        br
        .row
          input.form-control(type='text', placeholder='Address', required='', 
            name='address',value=user.address)
        br
        .row
          input.form-control(type='text', placeholder='Username', required='', 
            name='username',value=user.username)
        br
        .row
          input.form-control(type='text', placeholder='Password', required='', 
            name='password',value=user.password)
        br
        .row
          button.btn.btn-primary(type='submit', style='position:absolute;left:50%;transform:translateX(-50%);') Change

    //----------------------------------------------------------------------------------------------------